<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solo.erp.dao.mapper.DynamicSqlMapper">

    <resultMap id="BaseResultMap" type="java.util.HashMap">
        <id column="id" jdbcType="INTEGER" javaType="Integer" property="id"/>
        <id column="shop_id" jdbcType="INTEGER" javaType="Integer" property="shop_id"/>
        <id column="is_enable" jdbcType="INTEGER" javaType="Integer" property="is_enable"/>
        <id column="product_id" jdbcType="INTEGER" javaType="Integer" property="product_id"/>
        <id column="inventory_id" jdbcType="INTEGER" javaType="Integer" property="inventory_id"/>

    </resultMap>

    <select id="selectAllMenuAndRole" resultMap="BaseResultMap">
        SELECT
	d.url,
	group_concat( d.NAME SEPARATOR '|' ) as role_names
FROM
	(
	SELECT
		a.url,
		c.NAME
	FROM
		erp_menu_info AS a
		LEFT JOIN erp_role_menu_rel AS b ON a.id = b.menu_id
		LEFT JOIN erp_role_info AS c ON b.role_id = c.id
	WHERE
		a.is_enable = '1'
		AND c.is_enable = '1'
	) AS d
GROUP BY
	d.url;
    </select>

    <select id="selectLoginStaffInfoByLoginName" resultMap="BaseResultMap">
		SELECT
	a.id,
	a.shop_id,
	( SELECT d.shop_name FROM erp_shop_info AS d WHERE d.id = a.shop_id ) AS shop_name,
	a.login_name,
	a.login_pwd,
	a.staff_name,
	a.staff_no,
	a.staff_photo,
	c.NAME AS role_name,
	a.is_enable
	FROM
	erp_staff_info AS a
	LEFT JOIN erp_staff_role_rel AS b ON a.id = b.staff_id
	LEFT JOIN erp_role_info AS c ON b.role_id = c.id
	WHERE
	a.login_name = #{loginName}
	AND a.is_enable = '1';
	</select>
    <select id="selectProductInfoBySN" resultMap="BaseResultMap">
		SELECT
		a.product_sn,
		a.size,
		a.color,
		a.num,
		b.product_name,
		b.product_no,
		b.brand_name,
		b.year,
		b.wave_band,
		b.season,
		b.product_type,
		b.tag_price,
		b.cost_price,
		b.real_price,
		b.discount,
		b.remark
		FROM
		erp_inventory_info AS a
		LEFT JOIN erp_product_info AS b ON a.product_no = b.product_no
		WHERE
		a.product_sn = #{productSn};
	</select>

    <insert id="batchInsertProduct" parameterType="java.util.List">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jul 30 09:30:22 CST 2018.
        -->

        insert into erp_product_info (id, product_no, product_name,
        year, season, wave_band,
        product_type, product_img, product_thums,
        brand_name, tag_price, real_price,
        cost_price,size, color, discount,
        remark, gmt_create, gmt_modified
        )
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.productNo,jdbcType=VARCHAR}, #{item.productName,jdbcType=VARCHAR},
            #{item.year,jdbcType=INTEGER}, #{item.season,jdbcType=INTEGER}, #{item.waveBand,jdbcType=INTEGER},
            #{item.productType,jdbcType=CHAR}, #{item.productImg,jdbcType=VARCHAR},
            #{item.productThums,jdbcType=VARCHAR},
            #{item.brandName,jdbcType=VARCHAR}, #{item.tagPrice,jdbcType=DECIMAL}, #{item.realPrice,jdbcType=DECIMAL},
            #{item.costPrice,jdbcType=DECIMAL},#{item.size,jdbcType=VARCHAR}, #{item.color,jdbcType=VARCHAR},
            #{item.discount,jdbcType=INTEGER},
            #{item.remark,jdbcType=VARCHAR}, #{item.gmtCreate,jdbcType=TIMESTAMP},
            #{item.gmtModified,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="selectTodaySaleOrderInfo" resultMap="BaseResultMap">
		SELECT
	count( a.pay_amount ) AS order_count,
	sum( a.pay_amount ) AS sum_amount
FROM
	erp_order_info a
WHERE
	a.order_date = #{date}
	AND a.order_status = '1';
	</select>

    <select id="selectTodaySaleProductCount" resultMap="BaseResultMap">
		SELECT
	sum( a.num ) AS sum_product_num
FROM
	erp_order_detail AS a
	LEFT JOIN erp_order_info AS b ON a.order_no = b.order_no
WHERE
	b.order_date = #{date}
	AND b.order_status = '1';
	</select>

    <select id="selectTodayOpenVipCount" resultMap="BaseResultMap">
		SELECT
	count( a.create_date ) AS vip_count
FROM
	erp_vip_info AS a
WHERE
	a.create_date = #{date};
	</select>

</mapper>